# data view

In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('data/train.csv')

In [3]:
train_df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [4]:
train_df.tail()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
159566,ffe987279560d7ff,""":::::And for the second time of asking, when ...",0,0,0,0,0,0
159567,ffea4adeee384e90,You should be ashamed of yourself \n\nThat is ...,0,0,0,0,0,0
159568,ffee36eab5c267c9,"Spitzer \n\nUmm, theres no actual article for ...",0,0,0,0,0,0
159569,fff125370e4aaaf3,And it looks like it was actually you who put ...,0,0,0,0,0,0
159570,fff46fc426af1f9a,"""\nAnd ... I really don't think you understand...",0,0,0,0,0,0

In [25]:
train_df.head(1)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0

In [16]:
train_df.shape

(159571, 8)

In [28]:
tmp_dict = {}
for col in train_df.columns[2:]:
    cnt = 1
    for v in train_df[col]:
        if v==1:
            cnt+=1
    print("{}\t{}".format(col, cnt))
    tmp_dict[col] = cnt

toxic	15295
severe_toxic	1596
obscene	8450
threat	479
insult	7878
identity_hate	1406

In [29]:
tmp_dict

{'identity_hate': 1406,
 'insult': 7878,
 'obscene': 8450,
 'severe_toxic': 1596,
 'threat': 479,
 'toxic': 15295}

In [11]:
test_df = pd.read_csv('data/test.csv')

In [12]:
test_df.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [14]:
test_label_df = pd.read_csv('data/test_labels.csv')

In [15]:
test_label_df.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,-1,-1,-1,-1,-1,-1

In [30]:
s = 'awwd\n'

In [32]:
s.rstrip('\n')

'awwd'

In [39]:
train_df.comment_len = train_df.comment_text.apply(lambda x: len(x.rstrip().split()))

In [40]:
train_df.comment_len.describe()

count    159571.000000
mean         67.273527
std          99.230702
min           1.000000
25%          17.000000
50%          36.000000
75%          75.000000
max        1411.000000
Name: comment_text, dtype: float64

进行判断max_seq_len应该设置为多大

In [44]:
train_df.comment_len.quantile(0.8)

91.0

所以可以判断max_len_seq这个参数可以设置为100比较合适

In [57]:
train_df.comment_text[0]

"Explanation\nWhy the edits made under my username Hardcore Metallica Fan were reverted? They weren't vandalisms, just closure on some GAs after I voted at New York Dolls FAC. And please don't remove the template from the talk page since I'm retired now.89.205.38.27"

In [58]:
test_label_df.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,-1,-1,-1,-1,-1,-1

In [59]:
test_df.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

In [62]:
False in (test_df['id'].values == test_label_df['id'].values)

False

As shown above we could generate two

In [64]:
labels = test_label_df.columns[1:]
labels

Index(['toxic', 'severe_toxic', 'obscene', 'threat', 'insult',
       'identity_hate'],
      dtype='object')

In [65]:
for col in labels:
    test_df[col] = test_label_df[col]

In [66]:
test_df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,Yo bitch Ja Rule is more succesful then you'll...,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,== From RfC == \n\n The title is fine as it is...,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,""" \n\n == Sources == \n\n * Zawe Ashton on Lap...",-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,":If you have a look back at the source, the in...",-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,I don't anonymously edit articles at all.,-1,-1,-1,-1,-1,-1

In [67]:
test_df['toxic'].describe()

count    153164.000000
mean         -0.542530
std           0.572465
min          -1.000000
25%          -1.000000
50%          -1.000000
75%           0.000000
max           1.000000
Name: toxic, dtype: float64

In [70]:
test_select = test_df['toxic'] != -1

In [103]:
test_df[test_select].to_csv('./data/new_test.csv', index=False, encoding='utf-8')

In [80]:
False in (test_select == (test_df['toxic']!=-1))

True

In [99]:
tmp_list = list(test_select == (test_df['identity_hate']!=-1))

In [100]:
for i in range(len(tmp_list)):
    if tmp_list[i] is False:
        print(i)

In [101]:
False in tmp_list

False

In [102]:
test_df.columns == train_df.columns

array([ True,  True,  True,  True,  True,  True,  True,  True])